/* Estilo general del cuerpo */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del formulario */
form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

form:hover {
    transform: translateY(-5px);
}

/* Estilo de las etiquetas */
form label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 8px;
    display: block;
}

/* Estilo de los inputs, textarea y select */
form input,
form textarea,
form select {
    width: 90%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f3f3f3;
    font-size: 14px;
    color: #555555;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form textarea:focus,
form select:focus {
    border-color: #ff7e5f;
    outline: none;
}

/* Estilo de los botones */
form button,
form input[type="submit"] {
    width: 48%;
    padding: 5px;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

form button:hover,
form input[type="submit"]:hover {
    background-color: #feb47b;
}

/* Estilo del footer */
footer {
    text-align: center;
    padding: 1px;
    background-color: #333333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo del header */
header {
    background-color: #ff7e5f;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
